/* Global Styles */
.alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#footer {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
}

/* Start Forms Error Style */
.errorlist {
    color: #ff0000;
    float: right;
}

.errorlist_global {
    color: #ff0000;
}
/* End Forms Error Style */

.field_retreat {
    margin-bottom: 10px;
}

.col-xs-4 h4 {
    margin-bottom: 20px;
}

#stud_group_selector {
    width: 100%;
}

#king_group_selector {
    width: 100%;
}

#group-selector {
    margin: 10px 0;
}
#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    color: #555;
}

.buttons-form-submit {
    margin-left: 10%;
    margin-bottom: 10px;
}

.popup-box {
    width: 500px;
    position: fixed;
    top: 15%;
    left: 25%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.ajax-fone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 999;
    display: none;
}

#popup-menu {
    display: none;
}

.tooltip-inner {
    width: 180px;
}

#modal-body label {
    width: 33.3333%;
}