/* global styles */
.alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#footer {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 10px;
}

/* margin for field in form */
.field_retreat {
    margin-bottom: 10px;
    padding: 0;
}

.col-xs-4 h4 {
    margin-bottom: 20px;
}

#stud_group_selector {
    width: 100%;
}

#king_group_selector {
    width: 100%;
}

#group-selector {
    margin: 10px 0;
}
#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    color: #555;
}

.buttons-form-submit {
    margin-left: 10%;
    margin-bottom: 10px;
}

.tooltip-inner {
    width: 180px;
}

/* pop-up-menu */
#myModal #modal-body label,
#myModal .col-lg-2 {
    width: 33.3333%;
}

.text-if-not-object {
    margin-top: 10px;
}

#img-in-table {
    width: 30px;
    height: 30px;
}

#accounts-buttons {
    margin-left: 17%;
}

#header-text {
    margin-left: 17%;
}

#header-text-in-form {
    margin-left: 15%;
}

/* for middleware */
#rendering_page_text {
    margin-right: 7%;
    font-size: 0.9em;
}

#text-in-jumbotron {
    font-size: 40px;
}

#id_foto {
    width: 200px;
    font-size: 12px;
}

#action-students-hide {
    font-size: 12px;
    height: 8px;
    width: 190px;
    text-align: center;
}