{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сервіс Обліку Студентів{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet"
        href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <!-- My CSS -->
    <link rel="stylesheet"
        href="{% static "css/main.css" %}">
    <!-- Start AJAX -->
    <link rel="stylesheet"
        href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!-- End AJAX -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
<!-- Start container -->
<div class="container" id="container">
    <!-- Start header -->
    <div class="row" id="header">
        <div class="col-xs-8">
            <h1>Сервіс Обліку Студентів</h1>
        </div>
        {% block group-selector %}
        <div class="col-xs-4" id="group-selector">
            <strong>Група:</strong>
            <select>
                <option>Усі студенти</option>
                <option>Усі студенти</option>
                <option>Усі студенти</option>
                <option>Усі студенти</option>
                <option>Усі студенти</option>
            </select>
        </div>
        {% endblock %}
    </div>
    <!-- End header -->
    <!-- Sub-header -->
    {% block tablist %}{% endblock %}
    <!-- Start Status Message -->
    {% if request.GET.status_message %}
    <div class="row" id="status-message">
        <div class="col-xs-12">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                <p id="status-message-text" name="status_message_text">
                    {{ request.GET.status_message }}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End Status Message -->
    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- Start Footer -->
    <div class="row" id="footer">
        <div class="col-xs-10">
            &copy; 2014 Сервіс Обліку Студентів
        </div>
        <div class="col-xs-2">
            <span class="label label-primary pull-right">Ваша країна
                <i>{{ client_city }}</i>
            </span>
        </div>
    </div>
    <!-- End Footer -->
</div>
<!-- End container -->
<!-- Bootstrap -->
<script src="http://code.jquery.com/jquery-latest.js">
</script>
<script src="{{ PORTAL_URL }}{% static "bootstrap/js/bootstrap.min.js" %}">
</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>