/* Global Styles */
.alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
}

#group-selector {
    margin-top: 30px;
}

#group-selector select {
    height: 30px;
    width: 60%;
}

/* Start Forms Error Style */
.errorlist {
    color: #ff0000;
    float: right;
}

.errorlist_global {
    color: #ff0000;
}
/* End Forms Error Style */

.field {
    margin-bottom: 10px;
}

.col-xs-4 h4 {
    margin-bottom: 20px;
}

#stud_group_selector {
    width: 100%;
}