{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-9 col-md-offset-3">
        <h2 id="header-text">Авторизація</h2>
        <!-- Login Form -->
        {% if form.errors %}
        <p id="login-error-massage">
            Будь ласка, введіть правильні ім'я
            користувача і пароль для облікового
            запису персоналу. Зауважте, що
            обидва поля можуть бути чутливі до
            регістру.
        </p>
        {% endif %}
        <form class='form-horizontal blueForms' method="post"
        action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <div id="div_id_username" class="form-group">
                <label class="control-label col-lg-3 requiredField">
                    {{ form.username.label_tag }}
                </label>
                <div class="controls col-lg-3">
                    <input class="textinput textInput form-control"
                    id="id_username" maxlength="30" name="username"
                    type="text">
                </div>
            </div>
            <div id="div_id_password" class="form-group">
                <label class="control-label col-lg-3 requiredField">
                    {{ form.password.label_tag }}
                </label>
                <div class="controls col-lg-3">
                    <input class="textinput textInput form-control"
                    id="id_password" maxlength="15" name="password"
                    type="password">
                </div>
            </div>
            <div id="accounts-buttons" class="buttons-form-submit">
                <input type="submit" name="save" value="Увійти"
                class="btn btn-primary" id="submit-id-save">
                <a class="btn btn-default" href="{% url 'home' %}">
                    Скасувати
                </a>
            </div>
        </form>
        <div id="accounts-buttons" class="buttons-form-submit">
            <a href="{% url "socialauth_begin" "facebook" %}">Увійти з допомогою Facebook</a>
        </div>
        <!-- Login Form -->
    </div>
</div>

{% endblock %}