{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block group-selector %}{% endblock %}

{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active disabled"><a>Редагувати групу</a></li>
            <li><a href="{% url 'home' %}">Перейти на главну</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h4>Редагування групи</h4>
            </div>
            <!-- Start Form -->
            {% crispy form %}
            <!-- End Form -->
        </div>
    </div>
{% endblock %}