{% extends 'base.html' %}

{% load static from staticfiles %}

{% load str2int %}

{% block extra_css %}
<!-- There should be me css -->
{% endblock extra_css %}

{% block content %}
<div class="row" id="content-columns">
    <div class="col-xs-12" id="content-groups-list">
        <h2>Список груп</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'add_group' %}" class="btn btn-primary"
        id="button-add-group" data-remote="false" data-toggle="modal"
        data-target="#myModal">
            Додати Групу
        </a>
        {% endif %}

        {% if not table_group %}
        <div class="jumbotron text-if-not-object">
            <h1 id="text-in-jumbotron">Груп поки немає!</h1>
        </div>
        {% endif %}

        {% if table_group and user.is_authenticated %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Назва групи</th>
                <th>Староста</th>
                <th>Дії</th>
            </tr>
            </thead>
            <tbody>
            {% for group in table_group %}
            <tr>
                <td>{{ table_group.start_index|str2int:forloop.counter0 }}</td>
                <td><a href="{% url 'edit_group' group.id %}">{{ group.name_group }}</a></td>
                <td>{{ group.king_group }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                                type="button" data-toggle="dropdown">Дія
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                href="{% url 'edit_group' group.id %}">Редагувати</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                href="{% url 'delete_group' group.id %}">Видалити</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="jumbotron text-if-not-object">
            <h1>Вам потрібно авторизуватись, щоб бачити цю сторінку!</h1>
        </div>
        {% endif %}
        <!-- Start paginations -->
        {% if table_group.has_other_pages and user.is_authenticated %}
        <nav class="pull-right">
            <ul class="pagination">
                <li>
                    <a href="{% url 'group_list' %}?page=1">&laquo</a>
                </li>
                {% for page in table_group.paginator.page_range %}
                <li {% if table_group.number == page %}
                        class="active"
                    {% endif %}>
                    <a href="{% url 'group_list' %}?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="{% url 'group_list' %}?page={{ table_group.paginator.num_pages }}">
                        &raquo
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
        <!-- End paginations -->
    </div>
</div>
<!-- POP-UP -->
<div class="modal fade" id="myModal">
    <form action="/groups/add/" id="id-group-form-popup"
    method="post" data-toggle="validator"
    role="form">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Start Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Додавання нової групи</h4>
                </div>
                <!-- End Modal Header -->
                <!-- Start Modal Body -->
                <div class="modal-body" id="modal-body">
                    <!-- Start field name group -->
                    <div class="row">
                        <div class="col-xs-12" id="div_id_name_group_popup">
                        </div>
                    </div>
                    <!-- End field name group -->
                    <!-- Start field king group -->
                    <div class="row">
                        <div class="col-xs-12" id="div_id_king_group_popup">
                        </div>
                    </div>
                    <!-- End field king group -->
                </div>
                <!-- End Modal Body -->
                <!-- Start Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                        Скасувати
                    </button>
                    <button type="button" class="btn btn-primary"
                    id="send-popup-form">
                        Зберегти
                    </button>
                </div>
                <!-- End Modal Footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
<!-- POP-UP -->
{% endblock %}

{% block extra_js %}
<script src="{% static "js/pop-up-addgroup.js" %}"></script>
{% endblock extra_js %}