{% extends 'base.html' %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet"
    href="{% static "bootstrap/css/datepicker.css" %}">
{% endblock extra_css %}

{% block content %}
<div id="content-add-student">
    {% if user.is_authenticated %}
    <h4 id="header-text-in-form">Заповнення нового студента</h4>
    <!-- Start Form -->

    {% crispy form %}

    {% else %}
    <div class="jumbotron text-if-not-object">
        <h1 id="text-in-jumbotron">Вам потрібно авторизуватись, щоб бачити цю сторінку!</h1>
    </div>
    {% endif %}
    <!-- End Form -->
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "bootstrap/js/bootstrap-datepicker.js" %}">
</script>
<script src="{% static "js/datepicker.js" %}">
</script>
{% endblock extra_js %}