{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block group-selector %}{% endblock %}
{% block extra_css %}
    <link href="http://127.0.0.1:8000/static/bootstrap/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<div class="tabbable"> 
    <ul class="nav nav-tabs">
        <li class="active"><a href="">Додати студента</a></li>
        <li><a href="http://127.0.0.1:8000/">Перейти на главну</a></li>
    </ul>
    <div class="tab-content" id="tab-content-addstudent">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="pull-right">Заповнення нового студента</h4>
            </div>
        </div>
    <!-- Start Form -->
            {% crispy form %}
    <!-- End Form -->
    </div>
</div>
<script type="text/javascript" src="../../static/js/add_student_validation.js" ></script>
{% endblock %}

{% block extra_js %}
    <script src="http://127.0.0.1:8000/static/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="http://127.0.0.1:8000/static/js/datepicker.js"></script>
{% endblock extra_js %}