{% extends 'base.html' %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block group-selector %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
    href="{% static "bootstrap/css/datepicker.css" %}">
{% endblock extra_css %}

{% block content %}
<div id="content-edit-student">
    <h4 id="header-text-in-form">Редагування студента</h4>
    <!-- Start Form -->
    {% crispy form %}
    <!-- End Form -->
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "bootstrap/js/bootstrap-datepicker.js" %}">
</script>
<script src="{% static "js/datepicker.js" %}">
</script>
{% endblock extra_js %}