{% extends 'base.html' %}
{% block group-selector %}{% endblock %}
{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active disabled"><a href="#">Редагувати студента</a></li>
            <li><a href="http://127.0.0.1:8000/">Перейти на главну</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h4>Редагування студента</h4>
            </div>
            <form class="form-horizontal" id="student_form" action="/edit_student/{{ table_student.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <div class="row field_retreat" style="margin-left:100px">
                    <input type="submit" class="btn btn-primary" value="Зберегти" name="submit">
                    <button type="reset" class="btn">Очистити</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}