{% extends 'base.html' %}
{% block group-selector %}{% endblock %}
{% block content %}
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="">Додати студента</a></li>
            <li><a href="http://127.0.0.1:8000/">Перейти на главну</a></li>
        </ul>
        <div class="tab-content">
            <div class="row">
                <div class="col-xs-4">
                    <h4 class="pull-right">Заповнення нового студента</h4>
                </div>
            </div>
        <!-- Start Form -->
            <form class="form-horizontal" id="student_form" action="/index/addstudent/" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <!-- Start Buttons Form -->
                <div class="control-group field_retreat" style="margin-left:100px">
                    <input type="submit" class="btn btn-primary" name="submit">
                    <button type="reset" class="btn">Очистити</button>
                </div>
            <!-- End Buttons Form -->
            </form>
        <!-- End Form -->
        </div>
    </div>
{% endblock %}