{% extends 'base.html' %}
{% block group-selector %}{% endblock %}
{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1">Додати групу</a></li>
            <li><a href="http://127.0.0.1:8000/">Перейти на главну</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h4>Створення нової групи</h4>
            </div>
            <!-- Start Form -->
            <form class="form-horizontal" id="group_form" action="/groups/addgroup/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <!-- Start Name Group Field -->
                <div class="row field_retreat">
                    <div class="col-xs-2">
                        <label class="control-label pull-right" for="name_group">Назва групи</label>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="name_group" name="name_group">
                    </div>
                    <div class="col-xs-6">
                        {{ form.name_group.errors }}
                    </div>
                </div>
                <!-- End Name Group Field -->
                <!-- Start King Group Field -->
                <div class="row field_retreat">
                    <div class="col-xs-2">
                        <label class="control-label pull-right" for="king_group">Староста групи</label>
                    </div>
                    <div class="col-xs-2">
                        <select id="king_group_selector"  name="king_group">
                            <option value="" selected="selected">---------</option>
                            {% for student in table_student %}
                                <option value="{{ student.id }}">{{ student }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- End King Group Field -->
                <!-- Start Buttons Form -->
                <div class="control-group field_retreat" style="margin-left:100px">
                    <input type="submit" class="btn btn-primary" name="submit">
                    <button type="reset" class="btn">Очистити</button>
                </div>
                <!-- End Buttons Form -->
            </form>
            <!-- End Form -->
        </div>
    </div>
{% endblock %}