<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}База даних студентів{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="http://127.0.0.1:8000/static/css/bootstrap.min.css" rel="stylesheet">
    {% block scripts %}{% endblock %}
</head>
<body>
<div class="container">
    <header>
        <h1>Суденти</h1>
        <div class="group pull-right" style="width: 200px; margin-bottom: -60px;">
            <h5 class="pull-left" style="padding: 3px 3px 0 0">Група:<h5>
                <select class="span2">
                    <option>Усі студенти</option>
                    <option>Усі студенти</option>
                    <option>Усі студенти</option>
                    <option>Усі студенти</option>
                    <option>Усі студенти</option>
                </select>
        </div>
    </header>
{% block content %}
{% endblock %}
    </div>
</div>
<!-- Bootstrap -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>
</body>
</html>