{% extends 'base.html' %}
{% load my_filters %}
{% block group-selector %}{% endblock %}
{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active disabled"><a href="">Редагувати групу</a></li>
            <li><a href="http://127.0.0.1:8000/">Перейти на главну</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h4>Редагування групи</h4>
            </div>
            <form class="form-horizontal" id="group_form" action="/groups/edit_group/{{ table_group.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% if error %}
                    <ul class="errorlist_global">
                        {% if error.name_group %}
                            <li>{{ error.name_group }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
                <div class="control-group">
                    {% if errors.name_group %}
                        <ul class="errorlist">
                            <li>{{ errors.name_group }}</li>
                        </ul>
                    {% endif %}
                    <label class="control-label" for="name_group">Назва групи</label>
                    <div class="controls">
                        <input class="input-medium" type="text" id="name_group" name="name_group" value="{% if request.POST.name_group or request.POST.name_group == '' %}{{ request.POST.name_group }}{% else %}{{ table_group.name_group }}{% endif %}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="king_group">Староста групи</label>
                    <div class="controls">
                        <select id="king_group"  name="king_group">
                            {% for student in table_student %}
                                {% if request.POST.king_group %}
                                    <option value="{{ student.id }}" {% ifequal request.POST.king_group|str2int:"0" student.id %}selected="selected"{% endifequal %}>{{ student }}</option>
                                {% else %}
                                    <option value="{{ student.id }}" {% ifequal table_group.king_group.id student.id %}selected="selected"{% endifequal %}>{{ student }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group" style="margin-left:100px">
                    <input type="submit" class="btn btn-primary" name="submit" value="Зберегти">
                    <button type="reset" class="btn">Очистити</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}