{% extends 'base.html' %}
{% block content %}
<!-- Start Sub-header -->
<div class="row" id="sub-header">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="/">Студенти</a></li>
            <li role="presentation" class="active"><a href="/groups/">Групи</a></li>
        </ul>
    </div>
</div>
<!-- End Sub-header -->
<div class="tab-pane" id="tab2">
    <h2>Список груп</h2>
    <a href="/groups/addgroup/" class="btn btn-primary">Додати Групу</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Назва групи</th>
            <th>Староста</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        {% for Group in table_group %}
            <tr>
                <td>{{ Group.id }}</td>
                <td>{{ Group.name_group }}</td>
                <td>{{ Group.king_group }}</td>
                <td><div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Дія
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/groups/edit_group/{{ Group.id }}/">Редагувати</a></li>
                        <li><a href="/groups/group_delete/{{ Group.id }}/">Видалити</a></li>
                    </ul>
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Start paginations -->
    <nav class="pull-right">
        <ul class="pagination">
            {% if table_group.has_previous %}
                <li><a href="/groups/page/{{ table_group.previous_page_number }}/">&laquo</a></li>
            {% else %}
                <li class="active"><a href="">&laquo</a></li>
            {% endif %}
            {% for page in table_group.paginator.page_range %}
                {% if page == table_group.number %}
                    <li class="active"><a href="/groups/page/{{ page }}/">{{ page }}</a></li>
                {% else %}
                    <li><a href="/groups/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if table_group.has_next %}
                <li><a href="/groups/page/{{ table_group.next_page_number }}/">&raquo</a></li>
            {% else %}
                <li class="active"><a href="">&raquo</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- End paginations -->
</div>
{% endblock %}