{% extends 'base.html' %}
{% block content %}
<!-- Start Sub-header -->
<div class="row" id="sub-header">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/">Студенти</a></li>
            <li role="presentation"><a href="/groups/">Групи</a></li>
        </ul>
    </div>
</div>
<!-- End Sub-header -->
<!-- Start Status Message -->
<div class="row" id="status-message">
    <div class="col-xs-12">
        {% if message_add_student %}
            <div class="alert alert-success" role="alert" name="addstudent_message">Студент успішно доданий!</div>
        {% endif %}
    </div>
</div>
<!-- End Status Message -->
<!-- Start Content -->
<div class="row" id="content-columns">
    <div class="col-xs-12" id="content-column">
        <h2>База Студентів</h2>
        <a href="/index/addstudent/" class="btn btn-primary">Додати Студента</a>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>Прізвище</th>
                <th>Ім’я</th>
                <th>№ Білету</th>
                <th>Дії</th>
            </tr>
            </thead>
            <tbody>
            {% for Student in table_student %}
                <tr>
                    <td>{{ Student.id }}</td>
                    <td><img src="http://127.0.0.1:8000/media/{{ Student.foto }}" style="width:30px"></td>
                    <td>{{ Student.last_name }}</td>
                    <td>{{ Student.first_name }}</td>
                    <td>{{ Student.stud_bilet }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle"
                                    type="button" data-toggle="dropdown">Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/edit_student/{{ Student.id }}/">Редагувати</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/stud_delete/{{ Student.id }}/">Видалити</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Start paginations -->
        <nav class="pull-right">
            <ul class="pagination">
                {% if table_student.has_previous %}
                    <li><a href="/page/{{ table_student.previous_page_number }}/">&laquo</a></li>
                {% else %}
                    <li class="active"><a href="">&laquo</a></li>
                {% endif %}
                {% for page in table_student.paginator.page_range %}
                    {% if page == table_student.number %}
                        <li class="active"><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if table_student.has_next %}
                    <li><a href="/page/{{ table_student.next_page_number }}/">&raquo</a></li>
                {% else %}
                    <li class="active"><a href="">&raquo</a></li>
                {% endif %}
            </ul>
        </nav>
    <!-- End paginations -->
    </div>
</div>
<!-- End Content -->
{% endblock %}
